<template>
    <div class="card-body">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">
                    New orders
                </h3>
                <div class="row">
                    <div class="col-md-6 col-lg-4 mt-2" v-for="(order, index) in newOrders" :key="order.id">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Заказчик: {{ order.name }}</p>
                                <p class="card-text">Номер: <a :href="'tel:' + order.phone"
                                                               class="contacts-link">{{ order.phone }}</a></p>
                                <p class="card-text">Email: <a :href="'mailto:' + order.email"
                                                               class="contacts-link">{{ order.email }}</a></p>
                                <p class="card-text">Сообщение: {{ order.message }} </p>
                                <p class="card-text">Дата: {{ order.created_at }}</p>
                                <p class="card-text">{{ order.status }}</p>

                                <button @click="acceptOrder(order.index, order.id)" class="btn btn-success">
                                    Accept
                                </button>

                                <!--  <button @click="deleteOrder(order.index, order.id)" class="btn btn-danger">
                                      Delete
                                  </button>-->

                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#deleteOrder"
                                        :id="[order.index, order.id]" :index="order.index">Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">
                    Orders in development
                </h3>
                <div class="row">
                    <div class="col-md-6 col-lg-4 mt-2" v-for="(order, index) in acceptedOrders" :key="order.id">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Заказчик: {{ order.name }}</p>
                                <p class="card-text">Номер: <a :href="'tel:' + order.phone"
                                                               class="contacts-link">{{ order.phone }}</a></p>
                                <p class="card-text">Email: <a :href="'mailto:' + order.email"
                                                               class="contacts-link">{{ order.email }}</a></p>
                                <p class="card-text">Сообщение: {{ order.message }} </p>
                                <p class="card-text">Дата: {{ order.created_at }}</p>
                                <p class="card-text">{{ order.status }}</p>

                                <button @click="readyOrder(order.index, order.id)" class="btn btn-primary">
                                    Ready
                                </button>

                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#deleteOrder"
                                        :id="[order.index, order.id]" :index="order.index">Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">
                    Completed orders
                </h3>
                <div class="row">
                    <div class="col-md-6 col-lg-4 mt-2" v-for="(order, index) in completedOrders" :key="order.id">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Заказчик: {{ order.name }}</p>
                                <p class="card-text">Номер: <a :href="'tel:' + order.phone"
                                                               class="contacts-link">{{ order.phone }}</a></p>
                                <p class="card-text">Email: <a :href="'mailto:' + order.email"
                                                               class="contacts-link">{{ order.email }}</a></p>
                                <p class="card-text">Сообщение: {{ order.message }} </p>
                                <p class="card-text">Дата: {{ order.created_at }}</p>
                                <p class="card-text">{{ order.status }}</p>

                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#deleteOrder"
                                        :id="[order.index, order.id]" :index="order.index">Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <delete-order-component></delete-order-component>
    </div>
</template>

<script>
    export default {
        name: 'OrderListComponent',
        data: function () {
            return {
                orders: [],
            }
        },
        computed: {
            newOrders: function () {
                return this.orders.filter(function (order) {
                    return order.status === 'new'
                })
            },
            acceptedOrders: function () {
                return this.orders.filter(function (order) {
                    return order.status === 'accepted'
                })
            },
            completedOrders: function () {
                return this.orders.filter(function (order) {
                    return order.status === 'completed'
                })
            }
        },
        mounted() {
            this.getOrders()
        },
        methods: {
            getOrders: function () {
                axios.get('/admin/orders/get').then((res) => {
                    this.orders = res.data;
                    this.addIndex();
                });
            },
            addIndex: function () {
                this.orders.forEach(function (order, i, arr) {
                    arr[i].index = i;
                });
            },
            acceptOrder: function (index, id) {
                this.orders[index].status = 'accepted';
                axios.post(`/admin/order/accept/${id}`).then(() => {
                    console.log('Accepted ' + id);
                })
            },
            readyOrder: function (index, id) {
                this.orders[index].status = 'completed';
                axios.post(`/admin/order/ready/${id}`).then(() => {
                    console.log('Ready ' + id);
                });
            },
           /* deleteOrder: function (index) {
                this.orders.splice(index.split(',')[0], 1);
                this.addIndex();
                console.log();
                $('#deleteOrder .close').click();
                 axios.post(`/admin/order/delete/${index.split(',')[1]}`).then(() => {
                     console.log('Deleted ' + index.split(',')[1]);
                 });
            }*/
        },
    }
</script>
